{% extends 'agents/base.html' %}
{% load static %}

{% block title %}Accueil Agent{% endblock %}

{% block content %}
<div class="row mt-5 mt-sm-0 mb-5 mb-sm-3 justify-content-center">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    <div class="col-6 col-md-6 my-3 my-md-0 h-100">
        <div class="card h-100 shadow-sm rounded-4 border-0 bg-light" style="background-color: color(srgb 0 1 0 / 0.1) !important;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="fas fa-wallet fa-3x text-success"></i>
                <h5 class="card-title my-3 font-weight-bold text-center">Solde disponible</h5>
                <h6 class="card-subtitle mb-2 text-muted">CDF : {{ solde_CDF|stringformat:".2f" }}</h6>
                <h6 class="card-subtitle text-muted">USD : {{ solde_USD|stringformat:".2f" }}</h6>
            </div>
            </div>
    </div>
    
    <div class="col-6 col-md-6 my-3 my-md-0 h-100">  <div class="card h-100 shadow-sm rounded-4 border-0 bg-light"  style="background-color: color(srgb 0 0 1 / 0.1) !important;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="fas fa-bullseye fa-3x text-primary"></i>
                <h5 class="card-title my-3 font-weight-bold text-center">Dépots objectifs</h5>
                <h6 class="card-subtitle mb-2 text-muted">CDF : {{ total_depot_objectif_CDF|stringformat:".2f" }}</h6>
                <h6 class="card-subtitle text-muted">USD : {{ total_depot_objectif_USD|stringformat:".2f" }}</h6>
            </div>
            </div>
    </div>

    <div class="row mt-4 gap-3 gap-md-0 justify-content-center">
        <div class="col-md-6 p-0">
            <div class="card shadow-sm rounded-4 border-0 h-100">
                <div class="card-header bg-white rounded-top-4">
                    <h5 class="card-title font-weight-bold">
                        <i class="fas fa-tasks fa-fw mw-color"></i> Tâches à realiser
                    </h5>
                </div><div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        {% for tache in taches %}
                        <li class="list-group-item p-2 rounded-4">
                            <a class="d-flex justify-content-between btn btn-light text-start" href="{% url 'agents:voir_transaction' tache.pk %}">
                                <div>
                                    <span class="badge bg-primary">
                                        {% if tache.type == 'retrait' %}Retrait d'argent
                                        {% elif tache.type == 'transfert' %}Transfert d'argent
                                        {% elif tache.type == 'depot_objectif' %}Dépôt sur objectif
                                        {% elif tache.type == 'depot_inscription' %}Dépôt d'inscription
                                        {% elif tache.type == 'contribution' %}Contribution mensuelle
                                        {% elif tache.type == 'pret' %}Prêt d'argent
                                        {% elif tache.type == 'remboursement_pret' %}Remboursement de pret
                                        {% elif tache.type == 'retrait_objectif' %}Retrait d'objectif
                                        {% elif tache.type == 'retrait_admin' %}Retrait Admin
                                        {% elif tache.type == 'retrait_tout' %}Retrait total
                                        {% elif tache.type == 'annulation_objectif' %}Annulation Objectif
                                        {% endif %}</span>
                                    <div>
                                        <strong class="text-center">{{ tache.membre }}</strong>
                                        <span class="text-muted small mb-0">{{ tache.montant|stringformat:".2f" }} {{ tache.devise }}</span>
                                    </div>
                                </div>
                                <small class="text-muted">{{ tache.date|date:"d/m/Y" }}</small>
                            </a>
                        </li>
                        {% empty %}
                        <li class="list-group-item"> Aucune tâche pour le moment</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-0">
            <div class="card shadow-sm rounded-4 border-0">
                <div class="card-header bg-white rounded-top-4">
                    <h5 class="card-title font-weight-bold">
                        <i class="fas fa-history fa-fw mw-color"></i> Dernières Transactions
                    </h5>
                </div>
                <div class="card-body">
                    {% for transaction in transactions|slice:":5" %}
                <a href="{% url 'agents:transaction' transaction.id %}" class="d-block btn btn-light bg-white transaction-item {% if transaction.type == 'retrait' %}transaction-retrait{% elif transaction.type == 'transfert' %}transaction-transfert{% elif transaction.type == 'depot_objectif' %}transaction-depot-objectif{% elif transaction.type == 'depot_inscription' %}transaction-depot-inscription{% elif transaction.type == 'contribution' %}transaction-contribution{% elif transaction.type == 'pret' %}transaction-pret{% endif %}">
                    <div class="d-flex align-items-center gap-3">
                        <i class="{% if 'retrait' in transaction.type or 'annulation' in transaction.type %}fas fa-minus-circle{% elif transaction.type == 'transfert' %}fas fa-exchange-alt{% elif transaction.type == 'depot_objectif' %}fas fa-piggy-bank{% elif transaction.type == 'depot_inscription' %}fas fa-sign-in-alt{% elif transaction.type == 'contribution' %}fas fa-donate{% elif transaction.type == 'pret' %}fas fa-hand-holding-usd{% elif transaction.type == 'remboursement_pret' %}fas fa-money-bill-wave{% endif %}"></i>
                        <div class="flex-grow-1">
                            <div class="text-dark d-flex align-items-center justify-content-between mb-1">
                                <span class="fw-bold">
                                    {% if transaction.type == 'retrait' %}Retrait d'argent
                                    {% elif transaction.type == 'transfert' %}Transfert d'argent
                                    {% elif transaction.type == 'depot_objectif' %}Dépôt sur objectif
                                    {% elif transaction.type == 'depot_inscription' %}Dépôt d'inscription
                                    {% elif transaction.type == 'contribution' %}Contribution mensuelle
                                    {% elif transaction.type == 'pret' %}Prêt d'argent
                                    {% elif transaction.type == 'remboursement_pret' %}Remboursement
                                    {% elif transaction.type == 'retrait_objectif' %}Retrait d'objectif
                                    {% elif transaction.type == 'retrait_admin' %}Retrait Admin
                                    {% elif transaction.type == 'retrait_tout' %}Retrait total
                                    {% elif transaction.type == 'annulation_objectif' %}Annulation Objectif
                                    {% endif %}
                                </span>
                                <span class="badge accordion {% if transaction.statut == 'Approuvé' %}bg-success{% elif transaction.statut == 'Rejeté' %}bg-danger{% elif transaction.statut == 'Remboursé' %}bg-info{% else %}bg-warning{% endif %}">
                                    {% if transaction.statut == 'Demande' %}En attente{% else %}{{ transaction.statut }}{% endif %}
                                </span>
                            </div>

                            <div class="text-muted small d-flex justify-content-between">
                                <span>{{ transaction.montant|stringformat:".2f" }} {{ transaction.devise }}</span>
                                <span class="d-md-none">{{ transaction.date|date:"d/m/Y" }}</span>
                                <span class="d-none d-md-inline">{{ transaction.date|date:"d E Y H:i" }}</span>
                            </div>
                        </div>
                    </div>
                </a>
                {% empty %}
                <span class="list-group-item">Aucune transaction récente</span>
                {% endfor %}
                {% if transactions.count > 5 %}
                <div class="mt-3 text-center">
                    <a href="{% url 'agents:transactions' %}" class="btn btn-link mw-color">Voir plus</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row mt-4 gap-3 gap-md-0 justify-content-center">
        <div class="col-md-6 p-0">
            <div class="card shadow-sm rounded-4 border-0 h-100">
                <div class="card-header bg-white rounded-top-4">
                    <h5 class="card-title font-weight-bold">
                        <i class="fas fa-plus-circle fa-fw mw-color"></i> Recharger un compte membre
                    </h5>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <p class="text-center">Effectuez un dépôt sur le compte d'un membre.</p>
                    <a href="#" class="btn btn-success mt-3"><i class="fas fa-money-check-alt me-2"></i> Procéder à la recharge</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="card shadow-sm rounded-4 border-0 h-100">
                <div class="card-header bg-white rounded-top-4">
                    <h5 class="card-title font-weight-bold">
                        <i class="fas fa-minus-circle fa-fw mw-color"></i> Retirer d'un compte membre
                    </h5>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <p class="text-center">Effectuez un retrait depuis le compte d'un membre.</p>
                    <a href="#" class="btn btn-danger mt-3"><i class="fas fa-hand-holding-usd me-2"></i> Procéder au retrait</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}