{% extends 'agents/base.html' %}
{% load static %}

{% block title %}Accueil Agent{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-12">
        <h1 class="text-center">
            <span class="mw-color">Bienvenu {% if user.agent.sexe == "Femme" %}e{% endif %}</span> {% if user.agent.sexe == "Homme" %}cher{% else %}chère{% endif %}  {{ user.agent.nom }} {{ user.agent.postnom }}
        </h1>
    </div>
</div> 

<div class="row">
    <div class="col-md-4 my-3 my-md-0">
        <div class="card h-100 shadow-sm rounded-4 border-0 bg-light"  style="background-color: color(srgb 1 0 0 / 0.1) !important;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center" >
                <i class="fas fa-hand-holding-usd fa-3x text-danger mb-3"></i> 
                <h5 class="card-title mt-4 font-weight-bold">Total Prêts Octroyés</h5>
                <h6 class="card-subtitle mb-2 text-muted">CDF : {{ total_prêts_octroyés_CDF|default:0 }}</h6>
                <h6 class="card-subtitle text-muted">USD : {{ total_prêts_octroyés_USD|default:0 }}</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100 shadow-sm rounded-4 border-0 bg-light"  style="background-color: color(srgb 1 0.65 0 / 0.1) !important;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="fas fa-donate fa-3x text-warning mb-3"></i> 
                <h5 class="card-title mt-4 font-weight-bold">Total Contributions</h5>
                <h6 class="card-subtitle mb-2 text-muted">CDF : {{ total_contributions_CDF|floatformat:2|default:0 }}</h6>
                <h6 class="card-subtitle text-muted">USD : {{ total_contributions_USD|floatformat:2|default:0 }}</h6> 
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card h-100 shadow-sm rounded-4 border-0 bg-light"  style="background-color: color(srgb 0 1 0 / 0.1) !important;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="fas fa-wallet fa-3x text-success mb-3"></i> 
                <h5 class="card-title mt-4 font-weight-bold">Total Objectifs</h5>
                <h6 class="card-subtitle mb-2 text-muted">CDF : {{ total_contributions_CDF|floatformat:2|default:0 }}</h6>
                <h6 class="card-subtitle text-muted">USD : {{ total_contributions_USD|floatformat:2|default:0 }}</h6> 
            </div>
        </div>
    </div>

</div>

<div class="row  my-4">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-center" style="gap: 10px;">
            <a href="{% url 'agents:contributions' %}" class="btn btn-success rounded-pill p-3" style="min-width: 160px;">
                <i class="fas fa-donate me-2"></i> Contributions
            </a>
            <a href="{% url 'agents:prêts' %}" class="btn btn-danger rounded-pill p-3" style="min-width: 160px;">
                <i class="fas fa-hand-holding-usd me-2"></i> Remboursements
            </a>
            <a href="{% url 'agents:objectifs' %}" class="btn btn-mw rounded-pill p-3" style="min-width: 160px;">
                <i class="fas fa-bullseye me-2"></i> Objectifs
            </a>
            <a href="{% url 'agents:retraits' %}" class="btn btn-info rounded-pill p-3" style="min-width: 160px;">
                <i class="fas fa-file-alt me-2"></i> Retraits
            </a>

        </div>
    </div>
</div>

<div class="row flex-grow-1">
    <div class="col-md-6">
        <div class="card h-100 shadow-sm rounded-4 border-0">
            <div class="card-header bg-white rounded-top-4">
                <h5 class="card-title font-weight-bold">
                    <i class="fas fa-list fa-fw mw-color"></i> Liste des tâches
                </h5>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <ul class="list-group list-group-flush">
                    {% for tache in taches %}                    
                    <li class="list-group-item p-2 rounded-4">
                        <a class="btn d-flex align-items-end btn-light" href="{% url 'agents:voir_depot_inscription' tache.pk %}">
                            <div class="badge bg-primary mb-4">{{ tache.get_type_display }}</div>
                            <div class="d-flex justify-content-between mt-3 flex-grow-1">
                                <h6 class="text-center">{{ tache.membre }} - {{ tache.montant|floatformat:0 }} {{ tache.devise }}</h6> 
                                <small class="text-muted">{{ tache.date }}</small>
                            </div>
                        </a>
                    </li>
                    {% empty %}
                    <li class="list-group-item"> Aucune transaction effectuée pour le moment</li>
                    {% endfor %}
                </ul>
                <a href="{% url 'agents:prêts' %}" class="btn btn-sm btn-mw mt-3 rounded-pill">Voir plus</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100 shadow-sm rounded-4 border-0">
            <div class="card-header bg-white rounded-top-4">
                <h5 class="card-title font-weight-bold">
                    <i class="fas fa-history fa-fw mw-color"></i> Historique des transactions
                </h5>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <ul class="list-group list-group-flush">
                    {% for transaction in transactions %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="font-weight-bold">{{ transaction.operation }}</span> -
                                {{ transaction.montant|floatformat:2 }} {{ transaction.devise }}
                            </div>
                            <small class="text-muted">{{ transaction.date }}</small>
                        </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item"> Aucune transaction pour le moment</li>
                    {% endfor %}
                </ul>
                <a href="{% url 'agents:transactions' %}" class="btn btn-mw btn-sm mt-3 rounded-pill">Voir plus</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
