{% extends 'agents/base.html' %}

{% block title %}Historique des transactions{% endblock %}

{% block content %}
    <div class="row mt-5 mt-sm-0 mb-5 mx-1 justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Historique des transactions</h1>
        </div>
        
        <div class="list-group p-0 col-md-6">
            {% for transaction in transactions %}
            <a href="{% url 'agents:transaction' transaction.pk %}" class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <h5 class="mb-1">
                        {% if transaction.type == 'retrait' %}Retrait d'argent
                        {% elif transaction.type == 'transfert' %}Transfert d'argent
                        {% elif transaction.type == 'depot_objectif' %}Dépôt sur objectif
                        {% elif transaction.type == 'depot_inscription' %}Dépôt d'inscription
                        {% elif transaction.type == 'contribution' %}Contribution
                        {% elif transaction.type == 'pret' %}Prêt d'argent
                        {% elif transaction.type == 'remboursement_pret' %}Remboursement
                        {% elif transaction.type == 'retrait_objectif' %}Retrait d'objectif
                        {% elif transaction.type == 'retrait_admin' %}Retrait Admin
                        {% elif transaction.type == 'retrait_tout' %}Retrait total
                        {% elif transaction.type == 'annulation_objectif' %}Annulation Objectif
                        {% endif %}
                    </h5>
                    <span class="ms-1 badge {% if transaction.statut == 'Approuvé' %}bg-success{% elif transaction.statut == 'Rejeté' %}bg-danger{% else %}bg-warning{% endif %}">
                        {% if transaction.statut == 'Demande' %}En attente{% else %}{{ transaction.statut }}{% endif %}
                    </span>
                </div>

                <div class="text-muted small d-flex justify-content-between">
                    <span class="fw-bolder">{{ transaction.montant }} {{ transaction.devise }}</span>
                    
                    <small class="d-none d-md-inline">{{ transaction.date|date:"d E Y  H:i" }}</small>
                    <small class="d-md-none">{{ transaction.date|date:"d/m/Y" }}</small>
                </div>
            </a>
            {% empty %}
            <div class="list-group-item">Aucune transaction récente.</div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
