{% extends 'agents/base.html' %}
{% load static %}

{% block title %}Voir Membre{% endblock %}

{% block content %}
<h1 class="text-center">{{ membre }}</h1>
    <div class="row">
        <div class="row">
            <div class="mb-3">
                <label for="{{ form.numero_agent.id_for_label }}" class="form-label">{{ form.numero_agent.label }}</label>
                <input type="text" class="form-control" id="{{ form.numero_agent.id_for_label }}" name="{{ form.numero_agent.html_name}}" value="{{ form.numero_agent.value }}" readonly>
            </div>

            <div class="row mb-3">
                <div class="form-group col-8">
                    <label for="{{ form.montant.id_for_label }}" class="form-label">{{ form.montant.label }}</label>
                    <input type="text" class="form-control" id="{{ form.montant.id_for_label }}" name="{{ form.montant.html_name}}" value="{{ form.montant.value|floatformat:0 }}" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="{{ form.devise.id_for_label }}" class="form-label">{{ form.devise.label }}</label>
                    <input type="text" class="form-control" id="{{ form.devise.id_for_label }}" name="{{ form.devise.html_name}}" value="{{ form.devise.value }}" readonly>
                </div>
            </div>
            <div class="mb-3 d-flex flex-column align-items-center justify-content-center">
                <label for="{{ form.preuve.id_for_label }}" class="form-label">{{ form.preuve.label }}</label>
                <img src="{% if form.preuve.value %}{{ form.preuve.value.url }}{% endif %}" class="img-fluid rounded" style="max-height: 200px; object-fit: cover;">
            </div>

            <div class="text-center">
                <a class="btn btn-danger text-white w-25" href="{% url 'agents:rejetter_depot_inscription' form.instance.pk %}">Refuser</a>
                <a class="btn btn-mw text-white w-25" href="{% url 'agents:approuver_depot_inscription' form.instance.pk %}">Accepter</a>
            </div>
        </div>
    </div>

{% endblock %}
