   
   {% extends 'membres/base1.html' %}
   {% load static %}
   
   {% block content %}

   <!-- Top App Bar (pour mobile) -->
    <div class="top-app-bar bg-white p-2 d-flex align-items-center justify-content-between">
        <a class="navbar-brand d-flex align-items-center justify-content-center" href="{% url 'membres:home' %}">
            <img src="{% static 'LOGO_MUHANGIKI_WALLET_PRINCIPALE.png' %}" alt="Logo Muhangiki Wallet" height="40" class="d-inline-block">
        </a>
        {% if request.user.is_authenticated %}
        <div class="d-flex align-items-center justify-content-center">
            <!-- <a href="#" class="me-3">
                <span class="material-icons">notifications</span>
            </a> -->
            <span class="navbar-nav rounded-4">
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark d-flex align-items-center justify-content-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.membre.photo_profile.url %}
                        <img src="{{user.membre.photo_profile.url}}" alt="Photo de profil" class="rounded-circle" height="30">
                        {% elif request.user.membre.sexe == 'M' %}
                        <i class="fas fa-user-circle fa-2x"></i>
                        {% else %}
                        <i class="fas fa-user-circle fa-2x"></i>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="{% url 'membres:profile' %}">
                            <i class="fa fa-user"></i>
                            Mon profil
                        </a></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="fa fa-bell"></i>
                            Notifications
                            <span class="badge bg-secondary">3</span>
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <!-- <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">
                            <i class="fa fa-sign-out-alt"></i>
                            Déconnexion
                        </a></li> -->
                        <li>
                            <a href="#" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                <i class="fa fa-sign-out-alt"></i> Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>
            </span>
        </div>
        {% endif %}
    </div>


    <div class="d-flex flex-grow-1" style="min-height: 100vh;">
        {% if request.user.is_authenticated %}
        <!-- sidebar -->
        <nav  id="sidebar" class="d-none d-md-block bg-white border-end" style="width: 250px; flex-shrink: 0; position:fixed">
            <div class="position-sticky pt-3 px-2">
            
            <!-- Logo & Titre -->
            <div class="sidebar-section-title px-3">
                <a class="navbar-brand align-middle" href="{% url 'membres:home' %}">
                <img src="{% static 'LOGO_MUHANGIKI_WALLET_PRINCIPALE.png' %}" alt="Logo Muhangiki Wallet" height="50" class="d-inline-block" />
                </a>
            </div>
        
            <!-- Menu Principal -->
            <ul class="nav flex-column mb-2 mt-3">                
                
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/membres/' %}active{% endif %}" href="{% url 'membres:home' %}">
                        <i class="fa fa-home me-2"></i> Accueil
                    </a>
                </li>

                <li class="nav-item">
                <a class="nav-link {% if '/balance/' in request.path %}active{% endif %}" href="{% url 'membres:balance' %}">
                    <i class="fa fa-coins me-2"></i> Compte
                </a>
                </li>
        
                <li class="nav-item">
                <a class="nav-link {% if '/contributions/' in request.path %}active{% endif %}" href="{% url 'membres:contributions' %}">
                    <i class="fa fa-chart-pie me-2"></i> Crowdlending
                </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if '/demande_pret/' in request.path %}active{% endif %}" href="{% url 'membres:demande_pret' %}">
                        <i class="fa fa-hand-holding-usd me-2"></i> Credits
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if '/benefices/' in request.path %}active{% endif %}" href="{% url 'membres:benefices' %}">
                        <i class="fa fa-arrow-trend-up me-2"></i> Benefices
                    </a>
                </li>
        
                <li class="nav-item">
                <a class="nav-link {% if '/objectifs/' in request.path %}active{% endif %}" href="{% url 'membres:objectifs' %}">
                    <i class="fa fa-bullseye me-2"></i> Objectifs
                </a>
                </li>
        
                <li class="nav-item">
                <a class="nav-link {% if '/transfert/' in request.path %}active{% endif %}" href="{% url 'membres:transfert' %}">
                    <i class="fa fa-exchange-alt me-2"></i> Transfert
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if '/transactions/' in request.path %}active{% endif %}" href="{% url 'membres:transactions' %}">
                    <i class="fa fa-history me-2"></i> Transactions
                </a>
                </li>

                
            </ul>
        
            <!-- Section Support -->
            <div class="sidebar-section-title px-3" style="color: #888;">Support</div>
            <ul class="nav flex-column mb-2">
        
                <li class="nav-item">
                <a class="nav-link {% if '/parametres/' in request.path %}active{% endif %}" href="{% url 'membres:parametres' %}">
                    <i class="fa fa-cog me-2"></i> Paramètres
                </a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/logout/' %}active{% endif %}" data-bs-toggle="modal" data-bs-target="#logoutModal" href="{% url 'logout' %}">
                    <i class="fa fa-sign-out-alt me-2"></i> Déconnexion
                    </a>
                </li>
            </ul>
            </div>
        </nav>
        {% endif %}

        <main class="flex-grow-1 p-0 p-md-3  ms-desktop-250 ms-0 mt-md-0" style="background-color: #f8f9fa; overflow-y: auto; ">
            <!-- le loader doit se stopper apres chargement -->
            <div id="loader" style="display: none;">
                <img src="{% static 'loader.gif' %}?v=1" alt="Loading...">
            </div>

            <style>
                #loader {
                    display:block;
                    position: fixed;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
                
                }
            </style>
            {% block content %}
            {% endblock %}
        </main>
    </div>



    <!-- Barre d'application en bas (pour mobile) -->
    {% if request.user.is_authenticated %}
        <div class="bottom-app-bar">
            <ul class="nav bottom-ul">
                    {% if request.user.is_authenticated %}
                    
                    <li class="nav-item">
                    <a class="nav-link {% if request.path == '/membres/' %}active{% endif %}" href="{% url 'membres:home' %}">
                        <i class="fa fa-home me-2"></i> 
                    </a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link {% if '/balance/' in request.path %}active{% endif %}" href="{% url 'membres:balance' %}">
                        <i class="fa fa-coins me-2"></i> 
                    </a>
                    </li>
            
                    <li class="nav-item">
                    <a class="nav-link {% if '/contributions/' in request.path %}active{% endif %}" href="{% url 'membres:contributions' %}">
                        <i class="fa fa-chart-pie me-2"></i> 
                    </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if '/demande_pret/' in request.path %}active{% endif %}" href="{% url 'membres:demande_pret' %}">
                            <i class="fa fa-hand-holding-usd me-2"></i> 
                        </a>
                    </li>

            
                    <li class="nav-item">
                    <a class="nav-link {% if '/objectifs/' in request.path %}active{% endif %}" href="{% url 'membres:objectifs' %}">
                        <i class="fa fa-bullseye me-2"></i> 
                    </a>
                    </li>
            
                   

                    {% endif %}
            </ul>
        </div>
    {% endif %}





    {% endblock %}