{% extends 'membres/base.html' %}

{% block title %}Mes Contributions{% endblock %}

{% block content %}

    {% for message in messages %}  <!-- Messages display -->
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="row justify-content-center mt-5 mt-sm-0 mb-3 mb-md-5">
        <div class="col-md-8 text-center">
            <div class="">
                <div class="card-header bg-white">
                    <h3 class="">Contribution Mensuelle</h3>
                </div>
                <div class="card-body">
                    <p class="fs-5 mb-0"><span class="mb-3 fw-bolder fs-5">{{ membre.mois_contribution|date:"E" }}</span></p>
                    <p class="fs-5 mb-0">Etat : <span class="mb-3 fw-bolder fs-5">{{ contribution_actuelle }} / {{ contribution_mensuelle.montant }} {% if contribution_mensuelle.devise == 'CDF' %}FC{% else %}${% endif %}</span></p>
                    <p class="fs-5 mb-0">Restant : <span class="mb-3 fw-bolder fs-5">{{ montant_restant|floatformat:2 }} {% if contribution_mensuelle.devise == 'CDF' %}FC{% else %}${% endif %}</span></p>
                    <div class="mt-4">
                        <a href="#" class="btn btn-sm btn-danger text-white" data-bs-toggle="modal" data-bs-target="#confirmWithdrawModal">Retirer tout</a>
                        <a href="{% url 'membres:contribuer' %}" class="btn btn-sm btn-success text-white">Contribuer</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="confirmWithdrawModal" tabindex="-1" aria-labelledby="confirmWithdrawModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmWithdrawModalLabel">Confirmation de retrait</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Êtes-vous sûr de vouloir retirer tous vos fonds ? Cette action vous exclura définitivement de l'entreprise.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="{% url 'membres:retirer_tout' %}" class="btn btn-danger">Retirer</a> </div>
            </div>
          </div>
        </div>
        


        <div class="mt-4">
            <div class="card shadow-sm">
                <!-- <div class="card-header bg-white">
                    <h4 class="text-center mb-0">Historique des Contributions</h4>
                </div> -->
                <div class="card-body p-0">
                    <table class="table table-hover mb-0">
                        <thead class="table-success">
                            <tr>
                                <th>Montant</th>
                                <th>Devise</th>
                                <th>Date</th>
                                <th>Etat</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contribution in contributions %}
                            <tr style="cursor: pointer;" onclick="location.href='{% url 'membres:transaction' contribution.pk %}'">
                                <td>{{ contribution.montant }}</td>
                                <td>{{ contribution.devise }}</td>
                                <td>
                                    <small class="d-none d-md-inline">{{ contribution.date|date:"d E Y" }}</small>
                                    <small class="d-md-none">{{ contribution.date|date:"d/m/Y" }}</small>
                                    <small class="d-none d-md-inline">{{ contribution.date|date:"H:i" }}</small>
                                </td>
                                <td>
                                    <span class="badge {% if contribution.statut == 'Approuvé' %}bg-success{% elif contribution.statut == 'Rejeté' %}bg-danger{% else %}bg-warning{% endif %}">
                                    {{ contribution.statut }}
                                    </span>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">Aucune contribution effectuée.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>


{% endblock %}

