{% extends 'membres/base.html' %}

{% block title %}Demande de Prêt{% endblock %}

{% block content %}
<div class="container mt-5"> 
    <div class="row justify-content-center">
        <div class="col-md-6"> 
            <div class="card shadow px-2">
                <div class="card-header bg-white text-center">
                    <h2>Demande de Prêt</h2>
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}warning{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <form method="post" id="loan-form"> 
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="form-group col-md-8">
                                <label for="{{ form.montant.id_for_label }}">Montant du prêt:</label>
                                <input type="number" class="form-control" id="{{ form.montant.id_for_label }}" name="{{ form.montant.html_name }}"value="{{ form.montant.value|default:'' }}" placeholder="Entrez le montant">
                            </div>
                            <div class="form-group col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.devise.id_for_label }}">Devise:</label>
                                    <select class="form-select" id="{{ form.devise.id_for_label }}" name="{{ form.devise.html_name }}">
                                        <option value="CDF" {% if form.devise.value == 'CDF' %}selected{% endif %}>CDF</option>
                                        <option value="USD" {% if form.devise.value == 'USD' %}selected{% endif %}>USD</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.type_prêt.id_for_label }}">Type de crédit:</label>
                            <select class="form-select" id="{{ form.type_prêt.id_for_label }}" name="{{ form.type_prêt.html_name }}">
                                <option value="">-- Choisissez un type de crédit --</option>
                                {% for type_prêt in types_prêt %}
                                    <option value="{{ type_prêt.id }}" 
                                        data-taux="{{ type_prêt.taux_interet|floatformat:2 }}"
                                        data-delai="{{ type_prêt.delai_remboursement }}"
                                        {% if type_prêt.id == form.type_prêt.value %}selected{% endif %}>
                                            {{ type_prêt.nom }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label for="taux_interet">Taux d'intérêt: </label>
                            <span id="taux_interet" class="font-weight-bold mb-color">-</span> 
                        </div>
                        <div class="form-group">
                            <label for="delai_remboursement">Délai de remboursement: </label>
                            <span id="delai_remboursement" class="font-weight-bold mb-color">-</span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="montant_rembourser">Montant total à rembourser: </label>
                            <span id="montant_rembourser" class="font-weight-bold mb-color">-</span>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-mw text-white" id="submitLoanBtn" data-bs-toggle="modal" data-bs-target="#passwordConfirmModal">Confirmer la Demande</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-sm-4">
            <div class="card shadow px-2">
                <div class="card-header bg-white text-center">
                    <h2>Historique des demandes</h2>
                </div>
                <div class="card-body">
                    {% for demande in demandes_prêt %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="badge bg-{% if demande.statut == 'Approuvé' %}success
                                                    {% elif demande.statut == 'Rejeté' %}danger
                                                    {% else %}warning
                                                    {% endif %}">{{ demande.get_statut_display }}</span>
                            </h5>
                            <p class="card-text"><strong>Montant:</strong> {{ demande.montant }} {{ demande.devise }}</p>
                            <p class="card-text"><strong>Date de la demande:</strong> {{ demande.date_demande }}</p>
                    </div>
                {% empty %}
                    <p>Aucune demande de prêt effectuée.</p>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmation du mot de passe -->
<div class="modal fade" id="passwordConfirmModal" tabindex="-1" aria-labelledby="passwordConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordConfirmModalLabel">Confirmation du mot de passe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="password" class="form-label">Entrez votre mot de passe:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div id="passwordError" class="text-danger"></div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="confirmPasswordBtn">Confirmer</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Fonction pour mettre à jour les champs calculés
    function updateLoanDetails() {
        // Récupérer les valeurs du formulaire
        var montant = parseFloat(document.getElementById("{{ form.montant.id_for_label }}").value) || 0;
        var selectTypeCredit = document.getElementById("{{ form.type_prêt.id_for_label }}");
        var selectedOption = selectTypeCredit.options[selectTypeCredit.selectedIndex];
        var tauxInteret = parseFloat(selectedOption.getAttribute('data-taux').replace(',', '.')) || 0;
        var delaiRemboursement = parseInt(selectedOption.getAttribute('data-delai')) || 0;
        var devise = document.getElementById("{{ form.devise.id_for_label }}").value;


        // Vérifier si les valeurs sont valides avant de calculer
        if (tauxInteret > 0 && delaiRemboursement > 0) {
            // Calcul du montant à rembourser (intérêts simples)
            var montantInterets = montant * (tauxInteret / 100); 
            var montantRembourser = montant + montantInterets;

            // Mettre à jour les champs dans le formulaire
            document.getElementById("taux_interet").textContent = tauxInteret + "%";
            document.getElementById("delai_remboursement").textContent = delaiRemboursement + " jours";
            document.getElementById("montant_rembourser").textContent = montantRembourser.toFixed(2)+(devise == "CDF" ? " FC" : " $");
        } else {
            // Afficher des tirets si les valeurs ne sont pas valides
            document.getElementById("taux_interet").textContent = "-";
            document.getElementById("delai_remboursement").textContent = "-";
            document.getElementById("montant_rembourser").textContent = "-";
        }
    }

    // Ajouter des écouteurs d'événements pour mettre à jour les calculs
    document.getElementById("{{ form.montant.id_for_label }}").addEventListener("input", updateLoanDetails);
    document.getElementById("{{ form.type_prêt.id_for_label }}").addEventListener("change", updateLoanDetails);
    document.getElementById("{{ form.devise.id_for_label }}").addEventListener("change", updateLoanDetails);
    window.addEventListener("load", updateLoanDetails);

    // Gestionnaire d'événements pour le bouton "Confirmer" dans le modal
    document.getElementById('confirmPasswordBtn').addEventListener('click', function() {
        var password = document.getElementById('password').value;
        var loanForm = document.getElementById('loan-form');

        // Ajouter le mot de passe au formulaire avant la soumission
        var passwordInput = document.createElement('input');
        passwordInput.type = 'hidden';
        passwordInput.name = 'password'; 
        passwordInput.value = password;
        loanForm.appendChild(passwordInput);

        // Soumettre le formulaire
        loanForm.submit();
    });
</script>

{% endblock %}
