{% extends 'membres/base.html' %}
{% load static %}
{% load humanize %}
{% load colorFilter %}
{% load objectifFilter %}
{% block title %}Mes Prêts{% endblock %}
{% block content %}

<style>
    .details-label {
        font-weight: 600;
        color: #333;
        display: inline-block;
        width: 180px; /* Ajuster la largeur pour un meilleur alignement des icônes */
        margin-bottom: 0.2rem; /* Ajouter un peu d'espace sous les labels */
    }
    li{
        list-style-type: none;
    }
    ul{
        color: #616161 !important;
    }

    .echeance-item {
        padding: 0.8rem 1rem; /* Augmenter le padding pour un aspect plus aéré */
        border-bottom: 1px solid #e0e0e0; /* Couleur de bord plus claire */
        align-items: center;
        transition: background-color 0.3s ease; /* Ajouter une transition pour l'effet de survol */
    }

    .echeance-item:hover {
        background-color: #f9f9f9; /* Léger fond gris au survol */
    }

    .echeance-item:last-child {
        border-bottom: none;
    }

    .echeance-statut-icon {
        margin-right: 1rem; /* Augmenter l'espace pour une meilleure visibilité de l'icône */
        flex-shrink: 0;
    }

    .progress-circle-container {
        width: 60px; /* Légèrement plus grand */
        height: 60px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progress-circle {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: conic-gradient(
            #feaf3d var(--progress-percentage),
            #d3d3d3 var(--progress-percentage) 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem; /* Légèrement plus grand */
        font-weight: bold;
        color: #6c757d;
        z-index: 10;
    }

    .progress-circle::before {
        content: "";
        position: absolute;
        top: 6px; /* Ajuster pour la taille */
        left: 6px; /* Ajuster pour la taille */
        width: calc(100% - 12px); /* Ajuster pour la taille */
        height: calc(100% - 12px); /* Ajuster pour la taille */
        border-radius: 50%;
        background-color: #fff; /* Fond blanc pour un cercle plus net */
        z-index: -1;
    }

    .pret-item {
        border: 1px solid #e0e0e0; /* Bord plus clair */
        border-radius: 0.3rem; /* Bords légèrement plus arrondis */
        margin-bottom: 0.75rem; /* Plus d'espace entre les prêts */
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); /* Ajouter une légère ombre */
    }

    .pret-header {
        background-color: #f8f9fa; /* Fond gris très clair */
        padding: .5rem 1.25rem; /* Plus de padding */
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .pret-header:hover {
        background-color: #e9ecef;
    }

    .pret-details {
        padding: 1.25rem; /* Plus de padding */
        background-color: #fff;
    }

    .statut-icon {
        margin-right: 0.75rem; /* Plus d'espace pour l'icône de statut du prêt */
    }

    .notification-erreur {
        background-color: #ffebee; /* Rouge très clair */
        border: 1px solid #ef9a9a; /* Bord rouge clair */
        color: #d32f2f; /* Rouge plus foncé pour le texte */
        padding: 1rem;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
    }

    .echeance-list {
        list-style: none;
        padding-left: 0;
        padding-right: 1rem;
        margin-bottom: 0;
        max-height: 18rem;
        overflow-y: scroll;
        scrollbar-width: thin; /* 'auto' ou 'thin' */
        scrollbar-color: #aaa #f1f1f1; /* thumb track */

    }
    .echeance-list::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
}

    .echeance-list::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 4px;
    }

    .echeance-list::-webkit-scrollbar-thumb {
        background-color: #aaa; 
        border-radius: 4px;
    }

    .echeance-list::-webkit-scrollbar-thumb:hover {
        background-color: #777; /* Couleur au survol */
    }


    /* Icônes pour les détails du prêt */
    .loan-detail-icon {
        margin-right: 0.5rem;
        color: #777; /* Couleur discrète pour les icônes */
    }

    /* Style pour mettre en évidence le solde restant */
    .solde-restant {
        font-size: 1rem;
        font-weight: bold;
        color: #28a745; /* Vert pour indiquer le montant à rembourser */
    }
</style>
<div class="container-fluid p-3 p-md-4 rounded-3" style="background-color: #fff; min-height: 100%;">

    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% include "membres/components/demandePretModal.html" %}

    <div class="mb-4">
        <div class="card rounded p-4 border">
        <div class="row align-items-end">
            <div class="col-md-8">
            <h5 class="mb-2 fw-semibold text-dark">Aperçu de mes prets</h5>

            <p class="mb-0 mt-2 fs-6 text-muted">
                Prets :
                <strong class="fw-bold">{{ demandes_pret|length }}</strong> <small>total</small>,
                <strong class="fw-bold">{{ demandes_pret|prets_statut_count:'En attente' }}</strong> <small>en attentes</small>,
                <strong class="fw-bold">{{ demandes_pret|prets_statut_count:'Approuvé' }}</strong> <small>en cours</small>,
                <strong class="fw-bold">{{ demandes_pret|prets_statut_count:'Remboursé' }}</strong> <small>remboursé</small>,
                <strong class="fw-bold">{{ demandes_pret|prets_statut_count:'Depassé' }}</strong> <small>depassé</small>
            </p>

            </div>

            <div class="col-md-4 text-md-end mt-3 mt-md-0">
            <button
                type="button"
                class="btn btn-mw btn-sm rounded py-2 px-3 shadow-sm text-white"
                data-bs-toggle="modal"
                data-bs-target="#loanRequestModal"
            >
                <i class="fas fa-hand-holding-dollar me-2"></i> Demander un prêt
            </button>
            </div>
        </div>
        </div>
    </div>


    <div class="mt-4">
        <div id="pretsList">
            {% for pret in demandes_pret %}
            {% with pret.id|stringformat:"%d" as pret_id_str %}
            {% with progress_percentage=pret.solde_remboursé|pourcentage:pret.montant_payer|stringformat:".0f" %}
            <div class="pret-item mb-3">
                <div class="pret-header d-flex justify-content-between align-items-center"
                     data-bs-toggle="collapse" href="#collapsePret{{ pret_id_str }}" role="button"
                     aria-expanded="false" aria-controls="collapsePret{{ pret_id_str }}" style="cursor: pointer;">
                    <div class="d-flex align-items-center gap-2">
                        {% if pret.statut == 'Approuvé' %}
                        <i class="fas fa-check-circle text-success statut-icon"></i>
                        {% elif pret.statut == 'En attente' %}
                        <i class="fas fa-hourglass-half text-warning statut-icon"></i>
                        {% elif pret.statut == 'Depassé' %}
                        <i class="fas fa-exclamation-triangle text-danger statut-icon"></i>
                        {% elif pret.statut == 'Remboursé' %}
                        <i class="fas fa-check-double text-warning statut-icon"></i>
                        {% else %}
                        <i class="fas fa-question-circle text-secondary statut-icon"></i>
                        {% endif %}
                        <span class="fw-semibold">{{ pret.type_pret }}</span>
                        <small class="text-muted">({{ pret.montant|stringformat:".2f" }} {% if pret.devise == "USD" %} ${% else %} FC{% endif %})</small>
                        {% if pret.statut == 'Approuvé' %}
                        <span class="badge bg-success ms-2">Approuvé</span>
                        {% elif pret.statut == 'En attente' %}
                        <span class="badge bg-warning text-dark ms-2">En attente</span>
                        {% elif pret.statut == 'Depassé' %}
                        <span class="badge bg-danger ms-2">Dépassé</span>
                        {% elif pret.statut == 'Remboursé' %}
                        <span class="badge bg-info ms-2">Remboursé</span>
                        {% else %}
                        <span class="badge bg-secondary ms-2">{{ pret.statut }}</span>
                        {% endif %}
                    </div>

                    <div class="d-flex align-items-center gap-3 {% if pret.statut == 'Retiré' %}retire{% endif %}">
                        <div class="progress-circle-container">
                            <div
                            class="progress-circle"
                            style="--progress-percentage: {{ progress_percentage }}%; --progress-color: {% if progress_percentage|floatformat:0 >= 100 %}green{% elif progress_percentage|floatformat:0 > 50 %}orange{% else %}red{% endif %};"
                            >
                            {{ progress_percentage }}%
                            </div>
                        </div>
                        <i class="fas fa-chevron-down text-muted {% if objectif.statut == 'Retiré' %}retire{% endif %}"></i>

                    </div>
                </div>
                <div class="collapse" id="collapsePret{{ pret_id_str }}" data-bs-parent="#pretsList">
                    <div class="pret-details">
                        {% if pret.statut == 'En attente' %}
                        <h6 class="mb-3"><i class="fas fa-info-circle loan-detail-icon"></i> Détails de la Demande</h6>
                        <ul class="mb-0 text-muted">
                            <li><small><span class="details-label"> Montant demandé :</span> {{ pret.montant|stringformat:".2f" }} {% if pret.devise == "USD" %} ${% else %} FC{% endif %}</small></li>
                            <li><small><span class="details-label"> Montant total à payer :</span> {{ pret.montant_payer|stringformat:".2f" }} {% if pret.devise == "USD" %} ${% else %} FC{% endif %}</small></li>
                            <li><small><span class="details-label"> Mode de paiement :</span> {{ pret.mode_payement|capfirst }}</small></li>
                            <li><small><span class="details-label"> Paiement {% if pret.mode_payement == 'hebdomadaire' %}hebdomadaire{% else %}mensuel{% endif %} :</span> {{ pret.montant_remboursé|stringformat:".2f" }} {% if pret.devise == "USD" %} ${% else %} FC{% endif %} </small></li>
                            <li><small><span class="details-label"> Date de demande :</span> {{ pret.date_demande|date:"d/m/Y" }}</small></li>
                        </ul>
                        {% elif pret.statut == 'Approuvé' or pret.statut == 'Remboursé' or pret.statut == 'Depassé' %}

                        <div class="row px-3">
                            <div class="col-12 col-md-6">
                                <h6 class="mb-3"> Détails du prêt</h6>
                                <ul class="mb-0 " style="padding-left: 0 !important;">
                                    <li><small><span class="details-label"> Montant demandé :</span> {{ pret.montant|stringformat:".2f" }} {% if pret.devise == "USD" %} ${% else %} FC{% endif %}</small></li>
                                    <li><small><span class="details-label"> Montant total à payer :</span> {{ pret.montant_payer|stringformat:".2f" }} {% if pret.devise == "USD" %} ${% else %} FC{% endif %}</small></li>
                                    <li><small><span class="details-label"> Mode de paiement :</span> {{ pret.mode_payement|capfirst }}</small></li>
                                    <li><small><span class="details-label">Paiement {% if pret.mode_payement == 'hebdomadaire' %}hebdomadaire{% else %}mensuel{% endif %} :</span> {{ pret.montant_remboursé|stringformat:".2f" }} {% if pret.devise == "USD" %} ${% else %} FC{% endif %}</small></li>
                                    <li><small><span class="details-label">Approbation :</span> {{ pret.date_approbation|date:"d/m/Y" }}</small></li>
                                    <li><small><span class="details-label">Remboursement :</span> {{ pret.date_remboursement|date:"d/m/Y" }}</small></li>
                                    <li><small><span class="details-label">Déjà remboursé :</span> {{ pret.solde_remboursé|stringformat:".2f" }} {% if pret.devise == "USD" %} ${% else %} FC{% endif %} ({{ pret.solde_remboursé|pourcentage:pret.montant_payer|floatformat:2 }}%)</small></li>
                                    <li><small><span class="details-label">Restant :</span> <span class="solde-restant">{{ pret.montant_payer|sub:pret.solde_remboursé|stringformat:".2f" }} {% if pret.devise == "USD" %} ${% else %} FC{% endif %}</span> ({{ pret.solde_remboursé|pourcentage_inverse:pret.montant_payer|floatformat:2 }}%)</small></li>
                                </ul>
                            </div>

                            <div class="col-12 col-md-6">
                                <h6 class="mt-4 mt-md-0 mb-2">Historique des paiements ({{ pret.get_mode_payement_display|capfirst }})</h6>
                                <ul class="echeance-list">
                                {% for echeance in pret.echeances.all %}
                                <li class="echeance-item d-flex align-items-center gap-2 {% if forloop.counter > 5 %}hidden{% endif %}">
                                    <span class="echeance-statut-icon">
                                    {% if echeance.statut == 'payé' %}
                                        <i class="fas fa-check-circle text-success fs-6"></i>
                                    {% elif echeance.statut == 'échoué' %}
                                        <i class="fas fa-times-circle text-danger fs-6"></i>
                                    {% elif echeance.statut == 'en_retard' %}
                                        <i class="fas fa-exclamation-triangle text-warning fs-6"></i>
                                    {% elif echeance.statut == 'en_attente' %}
                                        <i class="fas fa-clock text-warning fs-6"></i>
                                    {% else %}
                                        <i class="fas fa-question-circle text-secondary fs-6"></i>
                                    {% endif %}
                                    </span>
                                    <small class="d-flex justify-content-between w-100">
                                        <span>
                                            <strong>{% if pret.mode_payement == 'hebdomadaire' %}Semaine{% else %}Mois{% endif %} {{ echeance.numero }}</strong>
                                            ({{ echeance.date_echeance|date:'d/m/Y' }})
                                        </span>
                                        <span>
                                            {{ echeance.montant|floatformat:2 }} {% if pret.devise == 'USD' %}${% else %}FC{% endif %}
                                        </span>
                                        <span>
                                            {% if echeance.statut == 'payé' %}
                                            <span class="text-success fw-semibold">Payé</span>
                                            {% elif echeance.statut == 'échoué' %}
                                            <span class="text-danger fw-semibold">Échec</span>
                                            {% elif echeance.statut == 'en_retard' %}
                                            <span class="text-warning fw-semibold">Retard</span>
                                            {% elif echeance.statut == 'en_attente' %}
                                            <span class="text-warning fw-semibold">En attente</span>
                                            {% else %}
                                            
                                            {% endif %}
                                        </span>
                                    </small>
                                </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>

                        {% if pret.statut == 'Depassé' %}
                        <div class="notification-erreur">
                            <i class="fas fa-exclamation-circle me-2"></i> Ce prêt est en retard.
                            Date limite : {{ pret.date_remboursement|date:"d/m/Y" }}.
                            Solde restant dû : <span class="solde-restant">{{ pret.montant_payer|sub:pret.solde_remboursé|stringformat:".2f" }} {% if pret.devise == "USD" %} ${% else %} FC{% endif %}</span>.
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endwith %}
            {% empty %}
            <div class="alert alert-dark" role="alert">
                Aucun prêt n'est actuellement enregistré.
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

