{% extends 'membres/base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div class="row pt-5 pt-sm-0 mb-3 mb-md-5">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    <!-- <div class="row mb-4 d-none d-sm-block">
        <div class="col-12">
            <h1 class="text-center roboto-regular">
                <span class="mw-color">Bienvenu {% if membre.sexe == "F" %}e{% endif %}</span> {% if membre.sexe == "M" %}cher{% else %}chère{% endif %}  {{ user.membre.nom }} {{ user.membre.postnom }}
            </h1>
        </div>
    </div> -->

    <div class="col-6 col-md-3 my-3 my-md-0 h-100">
        <div class="card h-100 shadow-sm rounded-4 border-0 bg-light" style="background-color: color(srgb 0 1 0 / 0.05) !important;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="fas fa-wallet fa-3x text-success"></i>
                <h5 class="card-title my-3 font-weight-bold text-center">Capital total</h5>
                <h6 class="card-subtitle mb-2 text-muted">CDF : {{ solde_CDF|stringformat:".2f" }}</h6>
                <h6 class="card-subtitle text-muted">USD : {{ solde_USD|stringformat:".2f" }}</h6>
            </div>
            <a href="{% url 'membres:contributions' %}" class="card-footer text-center text-white bg-success btn btn-success rounded-4 rounded-top-0 btn-sm">Contributions</a>
        </div>
    </div>

    <div class="col-6 col-md-3 my-3 my-md-0 h-100">
        <div class="card h-100 shadow-sm rounded-4 border-0 bg-light" style="background-color: color(srgb 1 0 0 / 0.05) !important;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="fas fa-hand-holding-usd fa-3x text-danger"></i>
                <h5 class="card-title my-3 font-weight-bold text-center">Crédits</h5>
                <h6 class="card-subtitle mb-2 text-muted">CDF : {{ total_prêts_CDF|stringformat:".2f" }}</h6>
                <h6 class="card-subtitle text-muted">USD : {{ total_prêts_USD|stringformat:".2f" }}</h6>
            </div>
            <a href="{% url 'membres:demande_prêt' %}" class="card-footer text-center text-white bg-danger btn btn-danger rounded-4 rounded-top-0 btn-sm">Emprunt</a>
        </div>
    </div>

    <div class="col-6 col-md-3 my-3 my-md-0 h-100">  <!-- New card for Bénéfices -->
        <div class="card h-100 shadow-sm rounded-4 border-0 bg-light"  style="background-color: color(srgb 1 0.65 0 / 0.05) !important;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="fas fa-chart-line fa-3x mw-color"></i>
                <h5 class="card-title my-3 font-weight-bold text-center">Bénéfices</h5>
                <h6 class="card-subtitle mb-2 text-muted">CDF : {{ benefices_CDF|stringformat:".2f" }}</h6>
                <h6 class="card-subtitle text-muted">USD : {{ benefices_USD|stringformat:".2f" }}</h6>
            </div>
            <a href="{% url 'membres:retrait' %}" class="card-footer text-center text-white bg-mw btn btn-mw rounded-4 rounded-top-0 btn-sm">Retrait</a>
        </div>
    </div>

    <div class="col-6 col-md-3 my-3 my-md-0 col-md-3 h-100">  <!-- New card for Objectifs -->
        <div class="card h-100 shadow-sm rounded-4 border-0 bg-light"  style="background-color: color(srgb 0 0 1 / 0.05) !important;">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="fas fa-bullseye fa-3x text-primary"></i>
                <h5 class="card-title my-3 font-weight-bold text-center">{{ objectifs.count }} {{objectifs.count|pluralize:"Objectif, Objectifs"}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">CDF : {{ total_depot_objectif_CDF|stringformat:".2f" }}</h6>
                <h6 class="card-subtitle text-muted">USD : {{ total_depot_objectif_USD|stringformat:".2f" }}</h6>
            </div>
            <a href="{% url 'membres:objectifs' %}" class="card-footer text-center text-white bg-secondary btn btn-primary rounded-4 rounded-top-0 btn-sm">Gérer</a>
        </div>
    </div>
</div>

<div class="row  my-4 d-none">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-center" style="gap: 10px;">
            <!-- <a href="% url 'membres:dépot' %" class="btn btn-success rounded-pill p-3" style="min-width: 160px;">
                <i class="fas fa-money-bill-wave me-2"></i>Déposer
            </a> -->
            <a href="{% url 'membres:demande_prêt' %}" class="btn btn-danger rounded-pill p-3" style="min-width: 160px;">
                <i class="fas fa-hand-holding-usd me-2"></i> Emprunter
            </a>
            <a href="{% url 'membres:retrait' %}" class="btn btn-success rounded-pill p-3" style="min-width: 160px;">
                <i class="fas fa-money-bill-wave me-2"></i> Retirer
            </a>
            <a href="{% url 'membres:transactions' %}" class="btn btn-mw rounded-pill p-3" style="min-width: 160px;">
                <i class="fas fa-exchange-alt me-2"></i> Transactions
            </a>
        </div>
    </div>
</div>

<div class="row flex-grow-1 mb-2 pb-5 mb-sm-0 pb-sm-0 gap-4 gap-md-0">
    <div class="col-md-6">
        <div class="card h-100 shadow-sm rounded-4 border-0">
            <div class="card-header bg-white rounded-top-4">
                <h5 class="card-title font-weight-bold">
                    <i class="fas fa-history fa-fw mw-color"></i> Historique des transactions
                </h5>
            </div>
            <div class="card-body p-2">
                {% for transaction in transactions|slice:":5" %}
                <a href="{% url 'membres:transaction' transaction.id %}" class="d-block btn btn-light bg-white transaction-item {% if transaction.type == 'retrait' %}transaction-retrait{% elif transaction.type == 'transfert' %}transaction-transfert{% elif transaction.type == 'depot_objectif' %}transaction-depot-objectif{% elif transaction.type == 'depot_inscription' %}transaction-depot-inscription{% elif transaction.type == 'contribution' %}transaction-contribution{% elif 'prêt' in transaction.type %}transaction-prêt{% endif %}">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-3">
                            <i class="{% if transaction.type == 'retrait' %}fas fa-minus-circle{% elif transaction.type == 'transfert' %}fas fa-exchange-alt{% elif transaction.type == 'depot_objectif' %}fas fa-piggy-bank{% elif transaction.type == 'depot_inscription' %}fas fa-sign-in-alt{% elif transaction.type == 'contribution' %}fas fa-donate{% elif transaction.type == 'prêt' %}fas fa-hand-holding-usd{% elif transaction.type == 'remboursement_prêt' %}fas fa-money-bill-wave{% endif %}"></i>
                            <div class="text-dark fw-bold text-start">
                                {% if transaction.type == 'retrait' %}Retrait d'argent{% elif transaction.type == 'transfert' %}Transfert d'argent{% elif transaction.type == 'depot_objectif' %}Dépôt sur objectif{% elif transaction.type == 'depot_inscription' %}Dépôt d'inscription{% elif transaction.type == 'contribution' %}Contribution mensuelle{% elif transaction.type == 'prêt' %}Prêt d'argent{% elif transaction.type == 'remboursement_prêt' %}Remboursement de prêt{% endif %}
                                <div>
                                    <span class="text-muted small mb-0">{{ transaction.montant|stringformat:".2f" }} {{ transaction.devise }}</span>
                                    <span class="transaction-status">
                                        <span class="badge {% if transaction.statut == 'Approuvé' %}bg-success{% elif transaction.statut == 'Rejeté' %}bg-danger{% elif transaction.statut == 'Remboursé' %}bg-info{% else %}bg-warning{% endif %}">{{ transaction.statut }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="transaction-date text-muted small text-center">
                            <span>{{ transaction.date|date:"d M Y" }}</span>
                            <span class="ms-2">{{ transaction.date|date:"H:i" }}</sp>
                        </div>
                    </div>
                </a>
                {% empty %}
                <span class="list-group-item">Aucune transaction récente</span>
                {% endfor %}
                {% if transactions.count > 5 %}
                <div class="mt-3 text-center">
                    <a href="{% url 'membres:transactions' %}" class="btn btn-link mw-color">Voir plus</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card h-100 shadow-sm rounded-4 border-0">
            <div class="card-header bg-white rounded-top-4">
                <h5 class="card-title font-weight-bold">
                    <i class="fas fa-bullseye fa-fw text-primary"></i> Vos Objectifs
                </h5>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <ul class="list-group list-group-flush">
                    {% for objectif in objectifs %}
                    <a href="{% url 'membres:objectif' objectif.id %}" class="d-block btn btn-light bg-white objectif-item mb-2">  <!-- Anchor tag styled as button -->
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center gap-3">  <!-- Align icon and text -->
                                <i class="fas fa-bullseye text-primary"></i>  <!-- Use a relevant icon -->
                                <div class="text-dark fw-bold text-start">  <!-- Style text -->
                                    {{ objectif.nom }}
                                    <div>
                                        <span class="text-muted small mb-0">{{ objectif.montant|stringformat:".2f" }} / {{ objectif.montant_cible|stringformat:".2f" }} {{ objectif.devise }}</span>
                                    </div>
                                </div>
                            </div>
                            <span class="badge {% if objectif.statut == 'Terminé' %}bg-success{% elif objectif.statut == 'En cours' %}bg-warning{% else %}bg-danger{% endif %}">{{ objectif.statut }}</span>
                        </div>
                    </a>
                    {% empty %}
                    <li class="list-group-item"> Aucun objectif enregistré</li>
                    {% endfor %}
                </ul>
                <a href="{% url 'membres:objectifs' %}" class="btn btn-sm btn-secondary mt-3 rounded-pill">Gérer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
