{% extends 'membres/base.html' %}

{% block title %}Paramètres{% endblock %}

{% block content %}
    <div class="row mt-5 mt-sm-0">
        <div class=" text-center p-2 rounded-4 rounded-start">
            <div class="d-inline-block bg-light rounded-pill p-2 position-relative">
                {% if request.user.membre.photo_profil %}
                    <img src="/static/{{ request.user.membre.photo_profil }}" alt="Photo de profil" class="rounded-circle img-fluid" style="height: 100px; object-fit: cover;">
                {% else %}
                    <i class="fas fa-user-circle fa-5x"></i>
                {% endif %}
                {% comment %} <a href="{% url 'membres:profil' %}" class="position-absolute top-0 end-0"><i class="fas fa-edit text-black m-1"></i></a> {% endcomment %}
            </div>
        </div>
        <div class="mx-2 text-dark text-center p-2">{{ user.membre }}</span>
    </div>

    <div class="list-group my-2">

        <a href="{% url 'membres:profil' %}" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
            <span><i class="fas fa-user fa-lg me-3 text-mw"></i> Profil</span> <i class="fas fa-chevron-right"></i>
        </a>

        <a href="{% url 'membres:notifications' %}" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
            <span><i class="fas fa-bell fa-lg me-3 text-mw"></i> Notifications</span> <i class="fas fa-chevron-right"></i>
        </a>

        <a href="{% url 'membres:home' %}" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
            <span><i class="fas fa-shield-alt fa-lg me-3 text-mw"></i> Sécurité</span> <i class="fas fa-chevron-right"></i>
        </a>

        <a href="{% url 'membres:home' %}" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
            <span><i class="fas fa-info-circle fa-lg me-3 text-mw"></i> À propos</span> <i class="fas fa-chevron-right"></i>
        </a>

        <a href="{% url 'membres:home' %}" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
            <span><i class="fas fa-envelope fa-lg me-3 text-mw"></i> Contact</span> <i class="fas fa-chevron-right"></i>
        </a>

        <a href="{% url 'membres:home' %}" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
            <span><i class="fas fa-headset fa-lg me-3 text-mw"></i> Support</span> <i class="fas fa-chevron-right"></i>
        </a>
    </div>

    <div class="d-grid gap-2 mt-4">
        <a href="{% url 'logout' %}" class="btn btn-outline-danger d-flex align-items-center justify-content-center">
            <i class="fas fa-sign-out-alt me-2"></i> Déconnexion
        </a>
    </div>
</div>
{% endblock %}

