{% extends 'membres/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Mes Retraits{% endblock %}

{% block content %}
<style>
.table thead th {
  background-color: #fdfdfd;
  color: #495057;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
}

.table tbody td {
  vertical-align: middle;
  text-align: center;
}

.badge {
  font-size: 0.85rem;
  padding: 0.4em 0.65em;
}

.table-sm-custom {
  font-size: 0.9rem;
}

.table-sm-custom thead th {
  padding: 0.65rem;
}

.table-sm-custom tbody td {
  padding: 0.5rem;
}

:root {
  --primary-color: #fc9d1b;
}

.btn-primaire {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.btn-primaire:hover {
  background-color: #e68c16;
  color: white;
  border-color: #e68c16;
}
.step {
  display: none;
}
.step.active {
  display: block;
}
</style>

<div class="container-fluid p-3 p-md-4 rounded-3" style="background-color: #fff; min-height: 100%;">

  {% for message in messages %}
  <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <div class="mb-4">
    <div class="card rounded p-4 border">
      <div class="row align-items-end">
        <div class="col-md-8">
          <h5 class="mb-2 fw-semibold text-dark">Aperçu de mes investissements</h5>
          <p class="mb-1 fs-6 text-muted">
            Total disponible (CDF) : <strong>{{ solde_contribution_CDF|intcomma }} FC</strong>
          </p>
          <p class="mb-0 fs-6 text-muted">
            Total disponible (USD) : <strong>{{ solde_contribution_USD|intcomma }} $</strong>
          </p>
        </div>
        <div class="col-md-4 text-md-end mt-3 mt-md-0">
          <a href="#" class="btn btn-danger btn-sm rounded py-2 px-3 shadow-sm text-white" data-bs-toggle="modal" data-bs-target="#confirmWithdrawModal">
            <i class="fas fa-hand-holding-usd me-2"></i>Retirer
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="card border-0 rounded-3 shadow-sm">
      <div class="table-responsive">
        <table class="table table-hover align-middle table-bordered mb-0 table-sm-custom my-table-hover">
          <thead class="thead-light">
            <tr>
              <th>Montant</th>
              <th>Devise</th>
              <th>Frais</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for retrait in Retraitcontrubution %}
            <tr onclick="location.href='{% url 'membres:transaction' retrait.transaction.pk %}'" style="cursor: pointer;">
              <td>{{ retrait.montant|intcomma }} {% if retrait.devise == "USD" %} $ {% else %} FC {% endif %}</td>
              <td>{{ retrait.devise }}</td>
              <td>{{retrait.frais}} </td>
              <td>
                <small class="d-none d-md-inline">{{ retrait.date|date:"d E Y H:i" }}</small>
                <small class="d-md-none">{{ retrait.date|date:"d/m/Y" }}</small>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center">Aucun retrait effectué.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% include "membres/components/investissement_modal.html" with modal="confirmWithdrawModal" titre="retirer" %}

{% endblock %}
