{% extends 'membres/base.html' %}

{% block title %}Mes Contributions{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-5 mt-sm-0 mb-3 mb-md-5">
        {% for message in messages %}  <!-- Messages display -->
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        
        <div class="col-md-8 text-center">
            <div class="">
                <div class="card-header bg-white">
                    <h3 class=""> Investissements</h3>
                </div>
                <div class="card-body">
                    <div class="mt-4 d-flex gap-3">
                        <p class="fs-6 mb-0">Total Investissements</p>
                        <div>
                            <p class="fs-6 mb-0"><span class="mb-3 fw-bolder fs-5">{{ solde_contribution_CDF }} CDF</span></p>
                            <p class="fs-6 mb-0"><span class="mb-3 fw-bolder fs-5">{{solde_contribution_USD }} USD</span></p>
                        </div>
                    </div>             
                        
                    <div class="mt-4">
                        <a href="#" class="btn btn-sm btn-danger text-white" data-bs-toggle="modal" data-bs-target="#confirmWithdrawModal">Retirer tout</a>
                        <a href="{% url 'membres:contribuer' %}" class="btn btn-sm btn-success text-white">Investir</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal pour confirmation de retrait -->
        <div class="modal fade" id="confirmWithdrawModal" tabindex="-1" aria-labelledby="confirmWithdrawModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmWithdrawModalLabel">Confirmation de Retrait</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">                        
                        Êtes-vous sûr de vouloir retirer tout votre Investissement ?
                        <form method="post" action="{% url 'membres:retirer_investissement' %}">
                            {% csrf_token %}
                            <input type="password" name="mot_de_passe" class="form-control my-2" placeholder="Entrez votre mot de passe" required>
                            <div class="text-center">
                                <button type="button" class="btn btn-sm btn-secondary text-white" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-sm btn-danger text-white">Confirmer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="card shadow-sm">
                <div class="card-body p-0 table-responsive">
                    <table class="table table-hover table-striped mb-0">
                        <thead class="table-success">
                            <tr>
                                <th>Montant</th>
                                <th>Devise</th>
                                <th>Mois</th>
                                <th>Date</th>
                                <th>Etat</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for retrait in Retraitcontrubution %}
                            <tr style="cursor: pointer;" onclick="location.href='{% url 'membres:transaction' retrait.transaction.pk %}'">
                                <td>{{ retrait.montant }}</td>
                                <td>{{ retrait.devise }}</td>
                                <td>{{ retrait.mois|date:"E" }}</td>
                                <td>
                                    <small class="d-none d-md-inline">{{ retrait.date|date:"d E Y" }}</small>
                                    <small class="d-md-none">{{ retrait.date|date:"d/m/Y" }}</small>
                                    <small class="d-none d-md-inline">{{ retrait.date|date:"H:i" }}</small>
                                </td>
                                <td>
                                    <span class="badge {% if retrait.statut == 'Approuvé' %}bg-success{% elif retrait.statut == 'Rejeté' %}bg-danger{% else %}bg-warning{% endif %}">
                                    {{ retrait.statut }}
                                    </span>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">Aucune retrait effectuée.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>


{% endblock %}

