{% extends 'membres/base.html' %}

{% block title %}Retrait{% endblock %}

{% block content %}
    <div class="row mt-5 mt-sm-0 mb-4 mb-md-5 justify-content-center">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}warning{% endif %} alert-dismissible fade show text-center" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
        <div class="col-md-8">
            <div class="card border-0">
                <div class="card-header bg-white text-center p-3 fs-4">
                    Effectuer un Retrait
                    <div class="fs-6">
                        <label for="total_benefices" class="form-label">Total des bénéfices(CDF):</label> <span id="total_benefices" class="font-weight-bold mb-color">{{ montant_benefices_cdf|floatformat:2 }} CDF</span><br/>
                        <label for="total_benefices" class="form-label">Total des bénéfices(CDF):</label> <span id="total_benefices" class="font-weight-bold mb-color">{{ montant_benefices_usd|floatformat:2 }} USD</span>
                    </div>
                </div>
                <div class="card-body px-1">
                    {% if date.month != 12 %}
                    <div class="alert alert-warning fade show text-center fw-bold" role="alert">
                        Les retraits ne sont disponibles qu'en Décembre
                    </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data" id="withdraw-form">
                        {% csrf_token %}

                        <div class="row mb-3">
                            <div class="form-group col-md-8">
                                <label class="form-label" for="{{ form.montant.id_for_label }}">Montant à retirer</label>
                                <input type="number" class="form-control" id="{{ form.montant.id_for_label }}" name="{{ form.montant.html_name }}" value="{% if form.montant.value %}{{ form.montant.value|stringformat:'.2f' }}{% else %}{{ montant_benefices|stringformat:'.2f' }}{% endif %}" placeholder="Entrez le montant" min="0" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label" for="{{ form.devise.id_for_label }}">Devise</label>
                                <input type="text" class="form-control" id="{{ form.devise.id_for_label }}" name="{{ form.devise.html_name }}" value="{{ membre.contribution_mensuelle.devise|default:'CDF'}}" readonly>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="taux_interet">Pourcentage de retrait : </label>
                            <strong id="pourcentage_retrait" class="font-weight-bold mb-color">-</strong>
                        </div>
                        <div class="mb-3">
                            <label for="taux_interet">Frais de retrait : </label>
                            <strong id="frais_retrait" class="font-weight-bold mb-color">-</strong>
                        </div>
                        <div class="mb-3">
                            <label for="taux_interet">Montant total à recevoir : </label>
                            <strong id="montant_a_recevoir" class="font-weight-bold mb-color">-</strong>
                        </div>

                        <div class="form-group text-center">
                            <button type="button" class="btn btn-mw" data-bs-toggle="modal" data-bs-target="#confirmationModal" {% if date.month != 12 %}disabled{% endif %}>
                                Confirmer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmation du retrait</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="passwordForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="mot_de_passe" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="mot_de_passe" name="mot_de_passe" on required>
                        </div>
                        <button type="submit" class="btn btn-mw">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


<script>
    const montantInput = document.getElementById('{{ form.montant.id_for_label }}');
    const pourcentageRetraitInput = document.getElementById('pourcentage_retrait');
    const fraisRetraitInput = document.getElementById('frais_retrait');
    const montantARecevoirInput = document.getElementById('montant_a_recevoir');
    const devise = '{{ membre.contribution_mensuelle.devise }}';

    function calculate(event) {
        const montant = parseFloat(montantInput.value);
        let frais = 0;

        if (devise === 'CDF') montant_USD = montant / 2800;
        else montant_USD = montant;

        if (montant_USD > 0 && montant_USD <= 10) {
            frais = 0.085;
        } else if (montant_USD > 10 && montant_USD <= 20) {
            frais = 0.058;
        } else if (montant_USD > 20 && montant_USD <= 50) {
            frais = 0.0295;
        } else if (montant_USD > 50 && montant_USD <= 400) {
            frais = 1.75;
        } else if (montant_USD > 400) {
            frais = 0.01;
        }

        pourcentageRetraitInput.textContent = (frais * 100).toFixed(2) + '%';
        fraisRetraitInput.textContent = (frais * montant).toFixed(2) + ' ' + (devise == "CDF" ? " FC" : " $");
        montantARecevoirInput.textContent = (montant * (1 - frais)).toFixed(2) + ' ' + (devise == "CDF" ? " FC" : " $");
    }

    montantInput.addEventListener('input', calculate);
    window.addEventListener("load", calculate);

    document.getElementById('passwordForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const password = document.getElementById('mot_de_passe').value;
        const withdrawForm = document.getElementById('withdraw-form');

        const passwordInput = document.createElement('input');
        passwordInput.type = 'hidden';
        passwordInput.name = 'mot_de_passe';
        passwordInput.value = password;
        withdrawForm.appendChild(passwordInput);

        withdrawForm.submit();
    });
</script>

{% endblock %}
