{% extends 'membres/base1.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <div class="container p-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="card-body">
            {% if not user.membre.status %}
                <p class="alert alert-warning text-center ">Votre compte est en cours d'approbation, veuillez contacter le support technique si la vérification persiste</p>
                <div class=" text-center">
                    <img src="{% static 'waiting-for-results.png' %}" alt="Waiting Image" class="img-fluid rounded" style="max-height: 400px; object-fit: cover;">
                </div>
                <div class=" text-center">
                    <a href="#" class="btn btn-mw" onclick="window.location.reload()"><i class="fas fa-sync-alt"></i> Actualiser </a>
                    <button href="{% url 'logout' %}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">
                        <i class="fa fa-sign-out-alt"></i> Déconnexion
                    </button>
                </div>
                <script>
                    setTimeout(function() {
                            window.location.reload();
                        }, 30000); // Ce script sera exécuté après 5 secondes
                </script>
            {% else %}
                <script>window.location.href = "{% url 'membres:home' %}";</script>
            {% endif %}

        </div>
    </div>

{% endblock %}
