{% extends 'membres/base.html' %}

{% block content %}
<div class="container m-0">
    <h1 class="text-center mb-5">Conditions générales d’utilisation de la plateforme Muhangiki Wallet</h1>

    <div class="terms-conditions">
        
        <h3 class="mt-4">Article 1 : objet et champ d’application</h3>
        <p>
            Les présentes Conditions Générales d’utilisation (CGU), régissent les rapports entre la plateforme Muhangiki Wallet et les utilisateurs, et s’appliquent sans restriction ni réserve pour toute utilisation de la plateforme.
            Les conditions générales d’utilisation doivent être acceptées par tout utilisateur, et son accès à la plateforme vaut acceptation de ces conditions.
            L’utilisateur est tenu d’accepter les présentes CGU pour toute utilisation de la plateforme en cochant la case « Je reconnais avoir lu et accepté les conditions générales d’utilisation.
            L’Ets Muhangiki pourra modifier les présentes CGU à tout moment, sans préavis. Les utilisateurs seront informés de la modification signalant ce changement au sein de la plateforme. Les CGU modifiés prendront effet à partir de leur publication. 
            L’hébergeur de l’application est Nitrohost.
            Il est recommandé aux utilisateurs de bien lire très attentivement les présentes CGU et de consulter régulièrement les CGU mises à jour sur l’onglet conditions générales d’utilisation.
        </p>

        <h3 class="mt-4">Article 2 : Mentions légales</h3>
        <p>
            La plateforme Muhangiki Wallet est un produit de l’Ets Muhangiki. Ets Muhangiki est une entreprise de droit congolais enregistrée au RCCM sous le numéro GOM/RCCM/23-A-00368 et Identification Nationale 19-I5500-N3286R dont le siège social est à Goma au n°13 avenue Nzangi Butondo, Quartier Kyeshero. 
        </p>

        <h3 class="mt-4">Article 3 : Accès à la plateforme</h3>
        <p><h5>Objet de la plateforme</h5></p>
        <p>
            Muhangiki Wallet est une plateforme en ligne avec pour objectif de faciliter les PME et les individus de réaliser plus de rentabilité dans la planification et la gestion de leurs activités financières. A noter que la plateforme n’est pas une banque en ligne ou une coopérative en ligne mais un intermédiaire entre ses utilisateurs et les institutions des microfinances agréées par la Banque Centrale du Congo. 
        </p>
        <p><h5>Fonctionnement de la plateforme</h5></p>
        <p>
            La plateforme Muhangiki Wallet permet aux utilisateurs de suivre leurs activités financières en toute simplicité et en temps réel depuis le smartphone, tablette et ordinateur et offert les fonctionnalités suivantes : 
        </p>
        <ul>
            <li>Création de compte ;</li>
            <li>Chargement mensuelle de l’épargne à l’aide d’un mode de paiement,</li>
            <li>Suivi du solde en temps réel ;</li>
            <li>Suivi des points de fidélités ; </li>
            <li>Accédez à des prêts abordables ;</li>
            <li>Bénéficiez proportionnément selon le solde personnel sur les transactions des prêts après déductions des frais de d’administration et maintenance comme indiquent dans la plateforme ;</li>
            <li>Transféré de l’argent, effectuer des dons, effectuer des paiements ou des retraits ;</li>
            <li>Suivi des objectifs financiers ; </li>
            <li>Planification budgétaire ; </li>
            <li>Suivi des historiques des transactions.</li>
        </ul>
        <p>
            Cette application est destinée aux PME et personne physique établi en République Démocratique du Congo.
            Les PME et personne physique ayant accès à internet peuvent consulter depuis n’importe où la plateforme. Les frais supportés par l’utilisateur pour y accéder (connexion internet) ne sont pas à la charge de l’Ets Muhangiki.
            La plateforme et ses différents services peuvent être interrompus ou suspendus, notamment lors d’une maintenance, sans obligation de préavis ou de justification.
        </p>
        <p><h5>Création d’un compte utilisateur</h5></p>
        <p>
            Pour accéder à la plateforme, tout utilisateur (PME ou personne physique) établi en République Démocratique du Congo, doit procéder à son inscription avec son code d’invitation en spécifiant les informations exactes et véridiques demandées. Nous pouvons vérifier vos données personnelles afin de confirmer votre identité et activer votre compte. Toutes les informations que vous nous fournissez seront traitées en toute sécurité et en stricte conformité avec notre politique de confidentialité.
            Pour les personne physiques l’âge requise est 18ans et plus avec une activité génératrice de revenus pour accéder à la plateforme. Et pour les femmes mariées une autorisation du mari peut être demander.
            En vous inscrivant aux services et en utilisant la plateforme, vous acceptez d’avoir lu et acceptez le CGU. Nous vous fournissons nos services via la plateforme. Nous pouvons également fournir des informations et/ou nos services par d’autres moyens. 
        </p>
        <p><h5>Opérations Muhangiki Wallet</h5></p>
        <p>
            Vous pouvez charger votre compte à l’aide d’un mode de paiement acceptez par l’Ets Muhangiki.
            Lorsque vous effectuez vos opérations des prêts, nous facturons les frais comme indiquer dans la plateforme. 
            Les opérations des prêts sont limitées selon les souscriptions d’épargnes mensuelles comme indiquer dans la plateforme.
            En cas du non respects respect du délai de remboursement comme prévu dans la plateforme, nous facturons les frais de pénalités sur votre solde principale comment indiquer dans la plateforme.
        </p>

        <h3 class="mt-4">Article 4 : Responsabilité de l’utilisateur </h3>
        <p>
            L’utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe.
            Le code d’accès et le mot de passe de l’utilisateur doivent rester secret. En cas de divulgation du code d’accès, mot de passe, l’Ets Muhangiki décline toute responsabilité. 
            En cas d’oubli du mot de passe, il suffit de cliquer sur « mot de passe oublié » et l’application envoie à l’adresse de l’utilisateur un lien permettant de le redéfinir.
            L’utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur la plateforme Muhangiki Wallet.
            L’utilisateur reste seul responsable de tout usage qui pourrait être fait de son code d’accès et mot de passe, et de leur confidentialité ainsi que toute utilisation de son compte personnel.
            L’Ets Muhangiki ne pourra en aucun cas être tenue responsable de toute perte ou vol ou tout dommage résultant de la perte ou du vol d’une utilisation frauduleuse des données d’identification des utilisateurs. 
            L’utilisateur est notamment informé du fait que l’utilisation du service peut nécessiter l’acceptation de la géolocalisation lorsqu’il utilise la plateforme pour une bonne utilisation du service. 
            L’utilisateur s’engage à faire une utilisation adéquate et licite du service et de ses contenus, conformément à la législation en vigueur, les présentes CGU, la morale, les bonnes mœurs et l’ordre public. 
            Les utilisateurs qui utilisent le service pour des finalités interdites par la loi et/ou contraires aux présentes seront exposés à des poursuites judiciaires et les données permettant leur identification pourront être fournies aux autorités compétentes en cas de procédure judiciaire engagée contre eux. 
        </p>
        <h3 class="mt-4">Article 5 : Responsabilité de l’Ets Muhangiki</h3>
        <p>
            Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Ets Muhangiki. 
            De même, la responsabilité de l’Ets Muhangiki ne peut être engagées en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers. 
            L’Ets Muhangiki s’engage à mettre en œuvre tous les nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.
            L’Ets Muhangiki n’est pas non plus responsable de la mauvaise utilisation de la plateforme par l’utilisateur. Il appartient à chaque utilisateur de s’assurer de la bonne utilisation de la plateforme.
            L’Ets Muhangiki s’engage à fournir un Service conforme aux présentes CGU.
            L’Ets Muhangiki se réserve le droit de modifier toute information ou contenu figurant dans la plateforme, à tout moment et sans préavis, dans le cadre de sa mise à jour ou de la correction d’erreurs ou d’inexactitudes ou si cela lui semble opportun sans cela ouvre droit à une quelconque réparation pour les utilisateurs. 
        </p>
        <h3 class="mt-4">Article 6 : Propriété intellectuelle</h3>
        <p>
            Le contenu de la plateforme sa structure, les bases de données, les codes sources composant la plateforme est protégé, notamment par le droit de la propriété intellectuelle dont l’Ets Muhangiki reste le seul titulaire. 
            Les présentes CGU n’emportent aucune cession d’aucune sorte de droits de propriété intellectuelle sur les éléments appartenant à l’Ets Muhangiki et/ou à ses partenaires.
            Les utilisateurs s’engagent à respecter les droits de propriété intellectuelle attachés aux éléments composants la plateforme Muhangiki Wallet et s’interdissent, notamment de les diffuser, publier, transmettre, céder à tout tiers, de les exploiter à des fins commerciales, de les reproduire, les copier ou les modifier sans autorisation expresse de l’Ets Muhangiki. Notamment, toute extraction ou réutilisation des données contenues dans la plateforme Muhangiki Wallet, au-delà de son usage normal est strictement interdite à tout utilisateur et est soumise à l’autorisation expresse et préable de l’Ets Muhangiki.
        </p>
        <h3 class="mt-4">Article 7 : Données personnelles </h3>
        <p>
            L’utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur la plateforme.
            L’Ets Muhangiki garantit le respect de la vie privée de l’utilisateur.
            L’utilisateur ne dispose que d’un droit d’usage strictement personnel, non exclusif de la plateforme.
            Tout autre usage est soumis à l’autorisation préalable et expresse de l’Ets Muhangiki. 
            Toute reproduction, représentation ou diffusion, y compris l’addition à celle-ci de nouvelles fonctions ou la réalisation de modifications sur celle-ci qui altérerait son fonctionnement, par quelque moyen que ce soit et sur quelque support que ce soit, est formellement interdite.
            Le droit d’utilisation de la plateforme Muhangiki Wallet accordée en vertu des présentes CGU pourra être résilié à tout moment par l’utilisateur et pour cela une demande désactivation devra être soumise à l’équipe de support pour finalisation du processus.
        </p>
        <h3 class="mt-4">Article 8 : liens hypertextes</h3>
        <p>
            Les domaines vers lesquels mènent les liens hypertextes présents sur l’application n’engagent pas la responsabilité de l’Ets Muhangiki, qui n’a pas de contrôle sur ces liens.
            Il est possible pour un tiers de créer un lien vers une page du site sans autorisation expresse de l’Ets Muhangiki.
        </p>
        <h3 class="mt-4">Article 9 : Evolution des conditions générales d’utilisation</h3>
        <p>
            Ets Muhangiki se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.
        </p>
        <h3 class="mt-4">Article 10 : Durée du contrat </h3>
        <p>
            La durée du présent contrat est indéterminée. Le contrat produit ses effets à l’égard de l’utilisateur à compter du début de l’utilisation du service. 
        </p>
        <h3 class="mt-4">Article 11 : droit application et juridiction compétente</h3>
        <p>
            Le présent contrat dépend de la législation congolaise. En cas de litige non résolu à l’amiable entre l’utilisateur et l’Ets Muhangiki, les tribunaux de nom de ville sont compétents pour régler le contentieux. 
        </p>
        <h3 class="mt-4">Article 12 : Annulation et inefficacité des clauses </h3>
        <p>
            La nullité ou l’impossibilité de la mise en œuvre de l’une des quelconques clauses des présentes CGU, si elle ne remet pas en cause notablement l’équilibre contractuel, n’affectera que la clause concernée et n’entrainera pas l’annulation des présentes CGU. 
            L’utilisateur s’engage à lire attentivement le contenu du présent document qui inclut les conditions générales d’utilisation du service, et accepte expressément et sans réserve toutes les règles et obligations qui y sont exposées.
        </p>

    </div>
</div>
{% endblock %}
