{% extends "administrateurs/base.html" %}

{% block content %}

<div class="mt-5 mt-sm-0 mb-3 mb-md-5">
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <h1>Agents : {{ agents|length }} {{ agents.count|pluralize:"s" }}</h1>


    <div class="col-12 d-flex align-items-center justify-content-between my-3">
        <form class="d-flex" role="search" method="get">
            <input class="form-control me-2 form-control-sm" type="search" placeholder="Rechercher" aria-label="Search" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-outline-success btn-sm" type="submit">Rechercher</button>
        </form>
        <a href="{% url 'administrateurs:creer_agent' %}" class="btn btn-mw btn-sm">Créer un Agent</a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped text-center align-middle mb-0">
                <thead class="table-warning">
                    <tr>
                        <th>Agent</th>
                        <th>Téléphone</th>
                        <th>Inscriptions</th>
                        <th>Contributions</th>
                        <th>Prêts</th>
                        <th>Remboursements</th>
                        <th>Retraits</th>
                        <th>Objectifs</th>
                        <th>Disponible</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agent in agents %}
                    <tr>
                        <td>{{ agent.nom }} {{ agent.prenom }}</td>
                        <td>{{ agent.numero_telephone }}</td>
                        <td>{{ agent.total_depot_inscription_usd|stringformat:".2f" }}</td>
                        <td>{{ agent.total_contributions_usd|stringformat:".2f" }}</td>
                        <td>{{ agent.total_prets_usd|stringformat:".2f" }}</td>
                        <td>{{ agent.total_remboursements_prets_usd|stringformat:".2f" }}</td>
                        <td>{{ agent.total_retraits_usd|stringformat:".2f" }}</td>
                        <td>{{ agent.total_objectifs_usd|stringformat:".2f" }}</td>
                        <td>{{ agent.total_transactions_usd|stringformat:".2f" }}</td>
                        <td class="d-flex justify-content-center">
                            <a href="{% url 'administrateurs:modifier_agent' agent.pk %}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a>
                            <!-- <a href="{% url 'administrateurs:supprimer_agent' agent.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet agent ?')"><i class="fas fa-trash-alt"></i></a> -->
                        </td>
                    </tr></a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9" class="text-center">Aucun agent trouvé.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&q={{ request.GET.q }}">&laquo; première</a>
                <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">précédente</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">suivante</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}">dernière &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
