{% extends 'administrateurs/base.html' %}

{% block title %}Historique des transactions{% endblock %}

{% block content %}
    <div class="row mt-5 mt-sm-0 mb-5 mx-1">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Historique des transactions</h1>
        </div>
        
        <div class="list-group p-0">
            {% for transaction in transactions %}
            <a href="{% url 'administrateurs:transaction' transaction.pk %}" class="list-group-item list-group-item-action d-flex w-100 align-items-center justify-content-between">
                <div class="d-flex flex-column align-items-center justify-content-center flex-md-row gap-md-2">
                    <h5 class="mb-1">
                        {% if transaction.type == 'retrait' %}Retrait d'argent
                        {% elif transaction.type == 'transfert' %}Transfert d'argent
                        {% elif transaction.type == 'depot_objectif' %}Dépôt sur objectif
                        {% elif transaction.type == 'depot_inscription' %}Dépôt d'inscription
                        {% elif transaction.type == 'contribution' %}Contribution
                        {% elif transaction.type == 'pret' %}pret d'argent
                        {% elif transaction.type == 'remboursement_pret' %}Remboursement
                        {% endif %}
                    </h5>
                    <p class="mb-0">
                        <span class="fw-bolder">{{ transaction.montant }} {{ transaction.devise }}</span>
                        <span class="ms-1 badge {% if transaction.statut == 'Approuvé' %}bg-success{% elif transaction.statut == 'Rejeté' %}bg-danger{% else %}bg-warning{% endif %}">{{ transaction.statut }}</span>
                    </p>
                </div>
                <div class="text-center text-muted">
                    <small class="d-none d-md-inline">{{ transaction.date|date:"d E Y" }}</small>
                    <small class="d-md-none">{{ transaction.date|date:"d/m/Y" }}</small>
                    <small class="d-md-none">{{ transaction.date|date:"H:i" }}</small>
                    <small class="d-none d-md-inline">{{ transaction.date|date:"H:i:s" }}</small>
                </div>
            </a>
            {% empty %}
            <div class="list-group-item">Aucune transaction récente.</div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

