{% extends 'administrateurs/base.html' %}
{% load static %}

{% block title %}Voir Membre{% endblock %}

{% block content %}
<!-- <form method="post" enctype="multipart/form-data" novalidate> -->
    {% csrf_token %}
    <div class="row mt-5 mt-sm-0 mb-5">
        <h1 class="text-center">Membre</h1>
        {% for field in form %}
            <div class="col-md-4 mb-3">
                {% if field.field.widget.input_type == "file" %}
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <img id="photo-preview" src="/static{{field.value.url}}" alt="Aperçu de la photo" class="img-fluid rounded" style="max-height: 200px; object-fit: cover;">
                {% elif 'ot de passe' not in field.label %}
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <input type="text" class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{% if field.field.widget.input_type == 'select' %}{% for option in field.options %}{% if option.value == field.value %}{{ option.label }}{% endif %}{% endfor %}{% else %}{{ field.value }}{% endif %}" readonly>
                {% endif %}
                {% if field.errors %}
                    <div class="invalid-feedback">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        {% if membre.status == False %}
            <form class="row" method="post" action="{% url 'administrateurs:accepter_membre' form.instance.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group col-8 col-md-4">
                    {{ depot_form.montant.errors }}
                    <label for="{{ depot_form.montant.id_for_label }}" class="form-label">{{ depot_form.montant.label }}</label>
                    <input name="{{depot_form.montant.html_name}}" class="form-control {% if depot_form.montant.errors %}is-invalid{% endif %}" id="{{ depot_form.montant.id_for_label }}" value="{{ depot_form.montant.value|default:'' }}">
                </div>
                <div class="form-group col-4  col-md-4">
                    {{ depot_form.devise.errors }}
                    <label for="{{ depot_form.devise.id_for_label }}" class="form-label">{{ depot_form.devise.label }}</label>
                    <input name="{{depot_form.devise.html_name}}" class="form-control {% if depot_form.devise.errors %}is-invalid{% endif %}" id="{{ depot_form.devise.id_for_label }}" value="USD" readonly>
                </div>

                <div class="form-group col-md-4 d-flex align-items-center gap-2 pt-2 pt-md-4">
                    <input type="checkbox" id="payé" name="payé" class="form-check-input">
                    <label for="payé">A déjà payé</label>
                </div>

                <div class="col-md-12 mt-4 text-center">
                    <a class="btn btn-danger text-white w-25" href="{% url 'administrateurs:refuser_membre' form.instance.pk %}">Refuser</a>
                    <button class="btn btn-mw text-white w-25">Accepter</button>
                </div>
            </form>
        {% endif %}
    </div>
<!-- </form> -->

{% endblock %}
